/* line 11, ../sass/misc.sass */
.green {
  color: #1bbc9b;
}

/* line 13, ../sass/misc.sass */
.orange {
  color: #f09d13;
}

/* line 16, ../sass/misc.sass */
body {
  background: #373737;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  color: #e1e1e3;
}

/* line 22, ../sass/misc.sass */
#navbar {
  text-align: center;
}
/* line 23, ../sass/misc.sass */
#navbar .logo {
  margin-top: 5px;
}

/* line 27, ../sass/misc.sass */
a {
  text-decoration: none;
}
