<div id=navbar class=row>
  <img class=logo src="images/top_logo.jpg"/>
</div>

<div id="listview"
     hm-drag="drag_ads_panel($event)"
     hm-dragstart="dragstart_ads_panel($event)"
     hm-dragend="dragend_ads_panel($event)"
     >

  <div class="input_wrapper row">
    <form action="" ng-submit="add_product();">
        <span class="icon glyphicon glyphicon-search"></span>
      <input id="add_product"
             type=text placeholder="Ajouter un produit" ng-model="to_add"/>
      <input type=submit style='position: absolute; left: -9999px'/>
    </form>
  </div>

    <!-- -->

  <div class=productlist>
    <div ng-repeat="ch in [false, true]">
      <div ng-repeat="p in list.products | filter:is_checked(ch)"
           >
        <div class="item row"
             ng-class="{checked: p.checked}"
             hm-tap="toggle_ads_for(p.name)"
	     hm-swipeleft="toggle_check(p)"
	     hm-swiperight="toggle_check(p)">
          <div class=content >
            <span ng-show="p.has_ads"> </span>
	    <span class="remove-button glyphicon glyphicon-remove-circle" ng-click="remove_product(p.name)" style="float: right"></span>
            <span class="star glyphicon glyphicon-star" ng-show="p.has_ads"> </span>
	    {{p.name}}
          </div>
        </div>
        <div ng-show="focus_ads == p.name && ads_for[p.name].length > 0" ng-animate="'collapse'">
          <div class="ad discount-row" ng-repeat="p in ads_for[p.name]"
               discountad discount="p">
            <img ng-src="{{p.img_path}}" width="25" />
            <span class=brand>{{p.brand}}</span>
            <span class=pull-right>
              <span class=price> {{p.discount_price}}€</span>
              <span class=original-price>{{p.original_price}}€</span>
            </span>
          </div>
        </div>
        <div style='clear: both'></div>
      </div>

      <a href="/checkout">
      <div class="row checkout-row" ng-show="!ch">
        CHECK OUT
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </div>
      </a>

    </div>
  </div>
</div>
