<div id=navbar>
  <img src="images/top_logo.jpg"/>
</div>

<div id="listview"
     hm-drag="drag_ads_panel($event)"
     hm-dragstart="dragstart_ads_panel($event)"
     hm-dragend="dragend_ads_panel($event)"
     >

  <div class=input_wrapper>
    <form action="" ng-submit="add_product();">
      <input class=submit type=submit value=Ajouter />
      <input id="#add_product" type=text placeholder="Ajouter un produit" ng-model="to_add" />
    </form>
  </div>

  <div class=productlist>
    <div class=item ng-repeat="p in list.products"
	 hm-tap="show_ads_for(p.name)"
	 hm-swipeleft="toggle_mark(p.name)"
	 hm-swiperight="toggle_mark(p.name)"
      <div class=content>
	<span ng-click="remove_product(p.name)" style="float: right">x</span>
	<img class=star src="images/star.jpg" ng-show="p.has_ads"/>
	{{p.name}}
      </div>
      <div class=ads>
        <div class=ad ng-repeat="p in ads">
      </div>
    </div>
  </div>

  <div id="ads_panel" class=off hm-swiperight="swiperight_ads_panel($event)" hm-options="{swipe_velocity: 0.1}">
    <div class=content> 

      {{ads.length}} promos {{ads_category}} disponible !!!

      <div class=ad ng-repeat="p in ads">
	Promotion {{p.brand}}: {{p.discount_price}}€ au lieu de {{p.original_price}}€
          <img ng-src="{{p.img_path}}" width="150"/>
      </div>
    </div>

  </div>
</div>
